<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <button onclick="filterResults('all')">All</button>
      <button onclick="filterResults('tracks')">Songs</button>
      <button onclick="filterResults('albums')">Albums</button>
      <button onclick="filterResults('artists')">Artists</button>
      <button onclick="filterResults('playlists')">Playlists</button>
    </div>
    <div class="searchre" id="results"></div>
    
  </body>
</html>
