<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      .filter-bar {
        display: flex;
       
        
      }
      .filter{
        padding:0.5em 1em;
        border-radius: 30%;
        background-color:transparent;
      }

      .filter + .filter {
        margin-left: 5px;
        
      }
    </style>
  </head>
  <body>
    <div class="filter-bar">
      <button onclick="filterResults('all')" class="filter">All</button>
      <button onclick="filterResults('tracks') "class="filter">Songs</button>
      <button onclick="filterResults('albums')"class="filter">Albums</button>
      <button onclick="filterResults('artists')"class="filter">Artists</button>
      <button onclick="filterResults('playlists')"class="filter">Playlists</button>
    </div>
    <div class="searchre" id="results"></div>
    
  </body>
</html>
